<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umeng.soexample">

    <application
        android:name=".CommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".share.HomeActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 下面的Activity是 使用者为了具体实现分享功能而创建的 -->
        <!-- ********************************************************************************************************************************************* -->
        <!--分享功能自己写的三方所有activity-->
        <activity
            android:name=".share.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".share.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".share.GetInfoActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".share.CheckActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".share.ShareMenuActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".share.InfoDetailActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".share.ShareDetailActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <!--分享功能自己写的三方所有activity-->
        <!-- ********************************************************************************************************************************************* -->
    </application>

</manifest>